ServerFacades/bin/*
ServerFacades/obj/*
ServerFacades/packages/*
ServerFacadesTests/packages/*
ServerFacadesTests/bin/*
ServerFacadesTests/obj/*
WebLauncher/bin/*
WebLauncher/obj/*
WebLauncher/packages/*
WebLauncherTests/bin/*
WebLauncherTests/obj/*
WebLauncherTests/packages/*
WebLauncher/App_Data/*.mdf
WebLauncher/App_Data/*.ldf
packages/*
