
@model EntityFrameworkAndKnockout.Models.Season.AddSeasonViewModel
@{
    ViewBag.Title = "Add Season";
}

@Scripts.Render("~/bundles/addseason");

<h2>Add Season</h2>

<div id="new-season-options">
    <select data-bind="options: availableYears"></select>

</div>
<script>
    var rawData = @Html.Raw(Json.Encode(@Model))

    var rootDiv = $('#new-season-options')[0];
    var model = new addSeasonViewModel(rawData)
    ko.applyBindings(model, rootDiv)
</script>
