.year-picker-button {
    border-radius: 0px 4px 4px 0px;
    margin-left: -4px;
}

.year-picker {
    display: inline;
    border-radius: 4px 0px 0px 4px;
    width: 150px;
}

.button-container :first-child {
    margin-right: 10px;
}

    .button-container .manage-season-button {
        cursor: pointer;
        height: 130px;
        background-color: #e8e6e6;
        padding: 30px;
        margin-top: 10px;
        color: #6f6f6f;
        float: left;
        width: 465px;
        display: flex;
        justify-content: space-between;
    }
        .button-container .manage-season-button:hover {
            background-color: #a2f3fb;
        }

        .button-container .manage-season-button h2 {
            display: inline;
        }

.manage-season-form {
    background-color: #e8e6e6;
    padding: 15px;
}
